.footer {
    background-color: black;
    border: none;
    margin: 0%;
    height: 10vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer>p {
    color: white;
    margin: 0%;
}