

nav {
    margin: 0;
    background-color: rgb(255, 255, 255); 
    width: 100%;
    border-bottom: 1px ridge rgba(122, 122, 122, 0.664);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "LOGO search button";

    column-gap: 3vw;
   
    justify-content: center;
    padding: 1vh;
 
}



.navLogo {
    grid-area: LOGO;
}

.navSearchInput {
    grid-area: search;
}


.navButtonContainer {
    grid-area: button;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}
.navLinks {
    display: flex;

}

.navSearchInput, .navFormSearch {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.navSearchInputStyle {

    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 3px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.534);

}

.navSearchInputStyle:hover {

  

}

.saffoLogo {
    font-family: 'Archivo Black', sans-serif, ;
}

.marker {
    font-family: 'Roboto Mono', monospace, 'Montserrat', sans-serif;
}

.marker:hover {
    font-weight: bolder;
}

.active {
    font-weight: bolder;
}
/* Utilizo esta propiedad para hacer override a a:-webkit-any-link */
/* TODO: Revisar con jesús porque tengo un problema aquí en el CSS con la clase :any-link que he tenido que hacer Override */
:any-link { color: black }
:any-link:hover { color: black;}

@media screen and (max-width: 375px) {
    nav {

        background-color: rgb(255, 255, 255); 
        width: 100%;
        border-bottom: 1px ridge black;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-areas: "LOGO search"
                            "button button";
    
        column-gap: 3vw;
        row-gap: 2vh;
       
        justify-content: center;
        padding: 1vh;
     
    }
}