
.userBackground {
    display: flex;
    justify-content: center;
}

.mainPageContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.backgroundHandler {
    background: rgba(245, 245, 245, 0.424);
    backdrop-filter: blur(50px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    width: 70%
}

.userFirstBanner {

    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "userAvatar userAvatar username username username"
                         "userAvatar userAvatar punctuation likes followers";
    grid-template-rows: auto auto;
    margin-top: 10px;
    padding: 16px;

}



.items {
display: flex;
align-items: flex-start;
justify-items: flex-start;
width: 70%;
margin: 5px;

}

h1 {
    text-shadow: 0px 0px 10px white;
    
}

.bio>h1 {
    font-size: 3.5rem;
}


p, h1 {
    margin: 2px;
}
.userAvatar {
  grid-area: userAvatar;
 
}

.userImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imgContainer { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.flexHandler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    flex-direction: column;

}

.flexRow {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.editProfileIcon {
    align-self: righ;
}
.username {
  grid-area: username;
}
.punctuation {
  grid-area: punctuation;
}
.likes {
  grid-area: likes;
}
.followers {
  grid-area: followers;
}

.userBio {

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
}

.secondUserBannercontainer {

    padding: 10px;
    
    display: grid;
    gap: 2rem;
  
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-template-rows: repeat(3, auto);

    justify-items: center;

}


@media screen and (max-width: 479px) {
    .userFirstBanner {


        grid-template-areas: "userAvatar userAvatar userAvatar"
                             "username username username "
                             "punctuation likes followers";
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto auto auto auto;
        
    }
}
