.BackgroundForms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../imgBank/pexels-simon-berger-1323550.jpg');
}

.ContainerForms {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

}

[class^="form"] {

    width: 70%;
    border-radius: 10px;
    margin: 25px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.formAvatar {
  
  

}

.formInfo {



}

.formHandler {
    display: flex;
    flex-direction: column;


}

.imgInput {
    margin: 15px;
}

.textInput {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}